body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
h1 {
  width: 100%;
  margin: 20px 0px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 10rem;
  margin-bottom: 5rem;
}

.mirror-container {
  border: 1px solid #262626;
  border-radius: 1.1%;
  display: inline-block;

}

.mirror-frame-1 {
  border: 2rem solid #8B4513;
  display: inline-block;
  border-radius: 1%;
}

.mirror-frame-2 {
  border: 2px solid #262626;

}

.mirror-frame-3 {
  border: 2rem solid #654321;
  display: inline-block;
}

.mirror-frame-4 {
  border: 1px solid #262626;
}

.container {
  display: flex;
  height: 100%;
}


